body {
    width: 100vw;
}
header {
    width: 100vw;
}
#hidden-menu nav {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100vw;

}
/*Might add top bar image*/
#hidden-menu img {
    position: fixed;
    top: .4vw;
    left: 4vw;
    z-index: 2;
    width: 4.5vw;
    height: auto;

}
    
#main-header nav {
    top: 45vh;
    position: absolute;
    z-index: 3;
    width: 100vw;
}
#main-header img {
    position: absolute;
    top:0px;
    width: 20vw;
    padding: 5vh 40vw 5vh 40vw;
    z-index: 3;
    background-color: white;
    
    
}

#main-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #2B2B2B;
    margin-top: 0;
    margin-left: 0;
    background-color: lightgray;
    text-align: center;
    padding: 2vh 0px 2vh 0px;
    width: 100vw;
}
#main-nav ul {
    padding: 0px;
}

#main-nav li {
    display: inline;
	padding: 0px 10px 0px;

}
#main-nav a,
main-nav a:visited {
    text-decoration: none;
    color: #2B2B2B;
}
#main-nav a:hover,
#main-nav a:focus,
#main-nav a:active {
    text-decoration: none;
    color: #627A70;
}
#main-content {
    top: 55vh;
    position: absolute;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 15vh;
}

p {
    line-height: 2;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
blockquote {
    line-height: 2.2em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 3em;
    color: #D19600;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
/*Might add later*/
/*#main-title {
    color: white;
    font-size: 4em;
    position: absolute;
    top: 15vh;
    text-align: center;
}
    */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h3 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
img {
    width:100%;
}
#hero-img {
    height: auto;
    width :100vw;
    margin-left: -15vw;
    margin-right: -15vw;
    padding-top: 5vh;
}
.float-left-img {
    width: 30%;
    float: right;
    padding-left: 5vw;
}
#gallery-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 70vw;
    padding-top: 5vh;
}
#gallery-grid img {
    width: 20vw;
    height:20vw;
    object-fit: cover;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        border-radius: 15px
}
#gallery-grid iframe {
    width: 20vw;
    height:20vw;
    object-fit: cover;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        border-radius: 15px
}
#mentor-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 70vw;
}
#mentor-grid img {
    width: 18vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    
}
#contact-info {
}
.contact-form {
    padding: 2vw;
    background-color: lightgray;
    margin-right: 7vw;
    width: 20vw;

}
.form-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
footer {
    background-color: lightgray;
    width: 100vw;
    bottom: 0;
    
}
