@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes rotate-up {
    100% {
        transform: rotateZ(-4deg);
    }
}

body {
    width: 100vw;
    
}
#home {
    background: url(img/breakfast-lg.jpg) no-repeat center center fixed;
}
section {
    margin-left: 3em;
    margin-right: 3em;
    position: absolute;
    top: 250px;
    
}
header {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: white;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.header-title {
    text-align: center;
    margin: 0;
    padding: 10px 0px 10px 0px;
    animation-delay: 1s !important;
}
header nav {
    width:100%;
    margin: 0 auto;
    background-color: white;
}
#header-container {
    background-color: white;
    
}
.header-img {
    margin-left: 46%;
    width: 100px;
    animation-delay: .6s !important;
}
.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    
    opacity: 0;
}

#main-nav {
    width: 650px;
    margin: 0 auto;

}
#main-nav ul {
    list-style: none;
    margin-top: 0;
}
#main-nav ul ul {
    display:none;

}
    #main-nav ul li {
        display: block;
        text-align: center;
        font-size: calc(12px + 1vw);
        font-weight: bold;
        color: white;
        float: left;
        width: 150px;
        background-color: rgb(191,55,69);
        border: 1px solid #fff;
        position: relative;
        
    }
#main-nav ul li:hover > ul{
    display: block;
    margin-left: -40px;
}
#main-nav ul ul ul {
    margin-left: 110px !important;
    top: 0;
    position: absolute;

}
#main-nav a,
main-nav a:visited {
    text-decoration: none;
    color:white;
}

#main-nav ul li:hover,
#main-nav ul li:focus,
#main-nav ul li:active {
    text-decoration: none;
    background-color:orange;
    
}
h1 {
    font-size: calc(18px + 1vw);
}
h2{
   
}
p {
    font-size: calc(8px + 1vw);
    line-height: calc(1.1em + 0.5vw);
}
#thumbs {
    width: 600px !important;
    margin: auto;
    
}
#thumbs img {
    width: auto;
}
div a {
    padding: 10px;
}
#video {
    padding-top: 20px;
}
article {
    top: 250px;
    position: absolute;
    margin-left: 3em;
    margin-right: 3em;
}

#lunch img {
    margin-left: -3em;
    margin-right: +3em;
    width: 100vw;
}

article ul li:first-child {
    color: hsl(147, 50%, 47%);
}
article ul li:first-letter {
    color: orange;
}
article:not(#dinner) {
    font-weight: bold;
}
#bgvid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
button {
    background: #e5ac8e;
    color: #fff;
    font-size: 14px;
    border-radius: 0.5em;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
    line-height: 32px;
}
button a {
    text-decoration: none;
    color:white;
}
button::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}
button:hover::after, button:focus::after {
  animation: sheen 1s forwards;
}
@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}
footer {
    position: absolute;
    bottom: calc(-400px - 1vw);
    margin-left: 3em;
    margin-right: 3em;
}
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }

    20% {
        opacity: 1;
    }

    89% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}
@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes spin-letters {
    0%, 10% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    30% {
        opacity: 1;
    }

    70%, 86% {
        transform: rotateY(0);
        opacity: 1;
    }

    95%, 100% {
        opacity: 0;
    }
}
@keyframes move-byline {
    0% {
        transform: translateZ(5em);
    }

    100% {
        transform: translateZ(0);
    }
}
.star {
    animation: star 10s ease-out infinite;
}

.wars {
    animation: wars 10s ease-out infinite;
}
.byline span {
    animation: spin-letters 10s linear infinite;
}

.byline {
    animation: move-byline 10s linear infinite;
}
#starwars-body {
    background: #000;
}
.starwars-demo {
    perspective: 800px;
    transform-style:preserve-3d;
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}
.byline span {
    display: inline-block;
}

img {
    width: 100%;
}

.star, .wars, .byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.byline {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}