@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
body {
    width: 100%;
   
}
header {
    width: 100%;
}
.logo-container {
    width: 15%;
    height: 50%;
    position: relative;
    z-index: 2;
    margin: 7% auto;
    padding-bottom: 0;
    
}

#header-text {
    width: 150%;
    position: relative;
    left: -25%;
    margin-top: 110%;



}

#header-img {
    width: 80%;
    left: 10%;
    top: 8%;
    position: absolute;
    z-index: 3;

}

#header-gear {
    width: 100%;
    position: absolute;
    z-index: 2;
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
}


.navbar li {
    font-family: 'Open Sans', sans-serif;
}

#main-content {
    top: 65vh;
    position: absolute;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 15vh;

}

p {
    line-height: 2;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
.center-name {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
blockquote {
    line-height: 2.2em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
#main-content h1 {
    font-size: 3em;
    color: #D19600;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vh;
    
}
/*Might add later*/
/*#main-title {
    color: white;
    font-size: 4em;
    position: absolute;
    top: 15vh;
    text-align: center;
}
    */
#main-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.center {
    text-align: center;
}
.btn-dark{
    border-color: transparent !important;
}
#main-content h3 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
img {
    width:100%;
}
#hero-img {
    height: auto;
    width :100vw;
    margin-left: -10vw;
    margin-right: -10vw;
    
}
.float-left-img {
    width: 30%;
    float: right;
    padding-left: 5vw;
}
#gallery-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 70vw;
    margin-left: 5vw;

}
#gallery-grid img {
    width: 15vw;
    height:15vw;
    object-fit: cover;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        border-radius: 15px
}
#gallery-grid iframe {
    width: 15vw;
    height:15vw;
    object-fit: cover;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        border-radius: 15px
}
#mentor-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 70vw;
}
#mentor-grid img {
    width: 18vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-form {
    background-color: gainsboro !important;
    padding: 5%;
    width: 150%;
}
.form-group label {
    font-family: 'Open Sans', sans-serif;
}

.carousel-container {
    max-width: 40vw !important;
    margin-bottom:5vh;
    margin-left: 0 !important;
    padding-left: 0;
}
#video {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

footer {
    background-color: lightgray;
    width: 100vw;
    position: sticky;
    
}

@media (min-width :0px) and (max-width: 500px) {
    .logo-container {
        width: 40%;
        height: 60%;
    }
    #main-content {
        top: 40%;
    }
    #gallery-grid img {
        width: 80%;
        height: auto;
    }
    #gallery-grid iframe {
        width: 80%;
        height: auto;
    }
}

@media (min-width : 501px) and (max-width : 900px) {
    .logo-container {
        width: 25%;
        
    }
    #main-content {
        top: 50%;
    }
    #gallery-grid img {
        width: 40%;
        height: auto;
    }
    #gallery-grid iframe {
        width: 40%;
        height: auto;
    }
}
@media (min-width : 901px) and (max-width : 1400px) {
    .logo-container {
        width: 20%;
    }

    #main-content {
        top: 55%;
    }

    #gallery-grid img {
        width: 40%;
        height: auto;
    }

    #gallery-grid iframe {
        width: 40%;
        height: auto;
    }
}

